.loader_normal{
    width: 904px;
    height: 505px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_fullscreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}