$button_height: 50px;
$button_bg_default: transparent;
$button_bg_highlighted: #3C3A48;
$button_border_radius: 7px;
$button_border_default: 2px solid #44444E;
$color_selected: #539CE5;
$color_errorPressed: #F64764;

.button_container {
  position: relative;
}

.key_letter{
  font-size: 14px !important;
}

%button_template {
  border: $button_border_default;
  border-radius: $button_border_radius;
  padding: 6px;
  box-sizing: border-box;
  height: $button_height;
  font-family: "SFProRegular", sans-serif;
  display: flex;
  box-sizing: border-box;

  section {
    display: flex;
  }
  p {
    z-index: 2;
  }
}

.error_default {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: $button_border_radius;
}

.error_active {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  border-radius: $button_border_radius;
  animation: showHideError 3s linear 1;
}

.tab {
  width: 80px;
  align-items: flex-end;
  justify-content: flex-start;
}

.delete {
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  width: 80px;
}

.caps {
  width: 96px;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;

  position: relative;
  sup{
    position: absolute;
    top: 6px;
    left: 6px;
  }
}

.enter {
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  width: 94px;
  position: relative;
  sup{
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.shift {
  text-align: center;
  justify-content: flex-start;
  align-items: flex-end;
  width: 126px;
}

.space {
  height: 50px;
  width: 290px;
  position: relative;
}

.sys_left {
  justify-content: flex-start;
}

.sys_right {
  justify-content: flex-end;
}

sup {
  font-size: 10px;
  z-index: 2;
}

.default, .arrow_full {
  width: 50px;
  height: $button_height;

  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 100%;

  sup {
    position: absolute;
    top: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  @extend %button_template;
}

.arrow_half{
  width: 50px;
  height: 25px;
}

.option{
  justify-content: center;
  align-items: flex-end;
  width: 50px;
}

.fn{
  width: 50px;
  justify-content: flex-start;
  align-items: flex-end;
}
.command{
  width: 66px;
  justify-content: center;
  align-items: flex-end;
}

.highlighted{
  background-color: $button_bg_highlighted;
}

.unhighlighted{
  background-color: $button_bg_default;
}

.selected_default {
  animation: showHideActive 0.6s linear;
  animation-iteration-count: infinite;
}

@keyframes showHideActive {
  0% {
    background-color: $color_selected;
  }
  50% {
    background-color: $button_bg_default;
  }
  100% {
    background-color: $color_selected;
  }
}

@keyframes showHideError {
  from {
    background-color: $color_errorPressed;
  }
  to {
    background-color: $button_bg_default;
  }
}

.active_with_symbols{
  color: #FFFFFF;
}

.active_without_symbols{
  color: #FFFFFF;
  sup{
    display: none;
  }
}

.unactive_with_symbols{
  color: #FFFFFF4D;
  sup{
    display: none;
  }
}

.unactive_without_symbols{
  color: #FFFFFF4D;
  sup{
    color: #FFFFFF;
  }
}

.sys_default {
  display: flex;
  @extend %button_template;

  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 12px;
  background-color: $button_bg_default;
  line-height: 12px;

  sup{
    font-size: 12px;
  }
}

.error_1prior {
  background-color: #b30000 !important;
}

.error_2prior {
  background-color: #7d0000 !important;
}

.error_3prior {
  background-color: #ff8080 !important;
}
